@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://localhost:7084/" class="btn btn-primary">Home</a>
            <a href="https://localhost:7084/VehiculoIndex" class="btn btn-primary">Vehiculo</a>
            <a href="https://localhost:7084/IndexAccesorios" class="btn btn-primary">Accesorios</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
