@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
        gggggg
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://localhost:7084/VehiculoIndex">Vehiculo</a>
            <a href="https://localhost:7084/DeleteAccesorio" target="_blank">About</a>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
